# Sistem & IDE dosyaları
.DS_Store
node_modules
vendor
.tmp
npm-debug.log
.devcontainer/postCreateCommand.log
package-lock.json
composer.lock

# WordPress çekirdeği ve içerik dizini genel ignore
wordpress/*
!wordpress/wp-admin/
!wordpress/wp-includes/
!wordpress/wp-content/

# Tüm admin ve includes altı dahil (gerekli!)
!wordpress/wp-admin/**
!wordpress/wp-includes/**
# Sadece wp-content içindeki temalar klasörü dahil
!wordpress/wp-content/themes/
# Sadece istediğin temalar eklensin:
!wordpress/wp-content/themes/flatsome
!wordpress/wp-content/themes/flatsome_child
!wordpress/wp-content/themes/rosegarden
# Pluginlerden sadece örnek plugin takip edilecekse ekle:
# !wordpress/wp-content/plugins/wp-codespace

# uploads ve cache hariç tutulur
wordpress/wp-content/uploads/
wordpress/wp-content/cache/
